<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<style>
  html,
  body {
    background: #02a2a2;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .mf-modal {
    background: #02a2a2;
    color: #fff;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    max-width: 100%;
  }

  .mf-modal .mf-modal-close a {
    color: #fff;
    position: relative;
    top: .5em;
    right: .5em;
  }

  .mauticform-button {
    background-color: #4e5d9d;
    width: 100% !important;
    padding: .75em !important;
    height: auto !important;
    margin-top: -.5em;
    font-weight: 600;
  }

  .mf-content .mauticform-input {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
  }

  .mf-content .mauticform-input:focus {
    border: none;
  }

  .mf-content .mauticform-input::placeholder {
    color: #fff;
    font-weight: 600;
  }

  .mauticform-button:hover {
    color: #fff;
  }

  .modal-title {
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
  }

  .modal-subtitle {
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: none;
  }

  .modal-form {
    padding: 2em 0;
  }

  .mauticform-innerform input {
    margin-bottom: 1em !important;
  }

  .modal-footer img {
    max-height: 1.5em;
    margin: -.25em .25em 0 .25em;
  }
</style>
<h1 class="modal-title text-center uppercase">Thanks for visiting</h1>
<h3 class="modal-subtitle">Type in your e-mail below to download a digital copy of my resume!</h3>
<div class="modal-form col-xs-12">
  {focus_form}
</div>
<p class="modal-footer uppercase col-xs-12" style="font-weight:600;">
  <em>Powered by</em>
  <img src="https://jtbray.com/user/themes/brilliant-resume/images/mautic-logo.png" />
  <em>Mautic</em>
</p>
<script>
  if (typeof MauticFormCallback == 'undefined') {
    var MauticFormCallback = {};
  }
  MauticFormCallback['resumedownload_focus'] = {
    onResponse: function(r) {
      if (r.success === 1) {
        window.parent.postMessage({
          event_id: 'dl_success'
        }, '*');
      } else {
        window.parent.postMessage({
          event_id: 'dl_fail'
        }, '*');
      }
    }
  };
  document.forms[0][0].focus();
</script>